@import "~@/assets/font-awesome/css/font-awesome.min.css";
@import "github-markdown-css/github-markdown.css";
@import "prism-themes/themes/prism-atom-dark.css";

:root {
  --color-main: #222;
  --bg-main: #21759b;
}

.page-enter-active,
.page-leave-active {
  transition: opacity .05s;
  -webkit-transition: opacity .05s;
  -moz-transition: opacity .05s;
  -ms-transition: opacity .05s;
  -o-transition: opacity .05s;
}

.page-enter,
.page-leave-active {
  opacity: 0;
}

.viewer-open {
  padding-right: 0 !important;
}
