.article-content {
  color: #000000d2 !important;
  font-size: 16px !important;
}

.article-content h2 {
  color: var(--color-main);
  font-size: 22px !important;
  padding: 4px 1rem !important;
}

.article-content h2::after {
  background: var(--bg-main);
}

.article-content h3 {
  color: var(--color-main);
  font-size: 22px !important;
}

.wrapper {
  background: #fff;
  border: 1px solid rgb(229 229 229);
  margin-bottom: 20px;
  box-shadow: rgb(0 0 0 / 10%) 0 4px 6px -1px, rgb(0 0 0 / 10%) 0 2px 4px -1px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;

  .archive {
    padding: 25px 5% !important;
  }
}

.article-index .article-content img,
.article-index .article-content table {
  display: none;
}

.article-index .article-content h2,
.article-index .article-content h3,
.article-index .article-content p {
  font-weight: inherit !important;
  font-size: inherit !important;
  color: inherit !important;
  display: inline !important;
  padding: 0 !important;
  margin: 0 !important;
}

.article-index .article-content h2::after {
  display: none;
}

.article-content hr {
  height: 2px !important;
  width: 50%;
  margin: 30px auto !important;
}

.article-content img {
  box-shadow: 0 1px 4px rgb(0 0 0 / 18%);
}

.article-content blockquote {
  border: none !important;
  position: relative;
  color: #3e3939e0 !important;
  border-left: 3px solid rgba(0, 0, 0, 0.4) !important;
  font-weight: 400;
  letter-spacing: 0.01rem;
  margin: 30px 0 !important;
  padding-left: 1em !important;
  text-indent: 0;
  background: #f0eaeaa1;
  font-size: 16px;
}

img {
  vertical-align: text-bottom;
}

details {
  border: 1px solid #eee;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

details summary {
  background: #f3f3f3;
  padding: 0 10px;
}

details summary+* {
  padding: 0 10px;
}

// 自定义标签
span.red {
  color: #cc3434;
  font-style: italic;
}

code,
code * {
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace !important;
}

.iframe {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

.iframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.autoMenu {
  ul {
    padding: 0;
    list-style: none;
    padding: 10px;
    box-sizing: border-box;
  }
}


// index.vue
.index .wrapper .article-content * {
  color: #dde1e3cc !important;
}

.index .wrapper .article-content a {
  border-bottom: 1px solid #dde1e3cc;
}

.index .wrapper .article-content a:hover {
  text-decoration: none;
  border-bottom: 1px solid #fff;
}

.index .wrapper .article-content img {
  max-width: 120px;
  background: #001522;
  vertical-align: baseline;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.index .header {
  background: #001522 !important;
}
.index .header a {
  color: #dde1e3cc !important;
}
