.darkmode-toggle {
  z-index: 99999;
  background: #100f2c url(https://img.imhan.cn/blog/yueliang.png) no-repeat center !important;
  background-size: cover !important;
}

.darkmode-toggle--white {
  background: #ffffff url(https://img.imhan.cn/blog/taiyang.png) no-repeat center !important;
  background-size: cover !important;
}

.darkmode--activated {
  color: #d6d6d6 !important;

  .darkmode-layer {
    mix-blend-mode: inherit;
    background: #333;
  }

  .header {
    background: rgba(0, 0, 0, 0.7) !important;
  }

  .header .menu-icon span {
    background: #fff !important;
  }

  .wrapper .article,
  .wrapper,
  table tr {
    background: #1e1e1e !important;
  }

  .wrapper .article .article-meta,
  .article-content,
  .wrapper .article .link .article-title .article-date,
  .wrapper .article .article-other,
  .pager .pager-item,
  .footer .wrapper,
  .wrapper .archive .title,
  .wrapper .archive .archive-list .archive-item .article-list .article-item .article-date,
  .header .site-name .nav-menu .nav-link,
  .header .site-name .nav-menu .author span {
    color: #d6d6d6 !important;
  }

  h2 {
    color: #fff !important;
  }

  .wrapper .article .article-meta .article-category .link:hover {
    color: initial !important;
  }

  .header .site-name .nav-menu {
    background: #1a1f24 !important;
  }

  .wrapper .article .link::after {
    background: #585858;
  }
}
