*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  -webkit-text-size-adjust: 100%;
}

@font-face {
  font-family: 'HYQiHei';
  src: url("./HYQiHei-50S.woff");
  // src: url("./DMSans-Regular.ttf");
}

body {
  font-family: 'HYQiHei';
  line-height: 1.8;
  font-size: 16px;
  color: #444;
  background-color: #E1E5EA;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

a {
  color: #6E7173;
  text-decoration: none;
  transition: all .1s ease-in;

  &:hover {
    color: #444;
  }
}

/* ul,
ol {
  list-style: none;
} */

button,
input {
  font: inherit;
}

:focus {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

h2 {
  color: #555;
  font-size: 1.34rem !important;
  border: none !important;
  position: relative;
  padding: 0 !important;
  padding-left: 1rem !important;
}

h2::after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 4px;
  height: 28px;
  background: #6E7173;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

h3 {
  color: #555 !important;
}

hr {
  height: 2px !important;
}

.article-content img {
  box-shadow: 0 1px 4px rgb(0 0 0 / 18%);
}

img {
  vertical-align: text-bottom;
}

details {
  border: 1px solid #eee;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

details summary {
  background: #f3f3f3;
  padding: 0 10px;
}

details summary+* {
  padding: 0 10px;
}

// 自定义标签
span.red {
  color: #cc3434;
  font-style: italic;
}
