:root {
  --twikoobg: #f6f7f8c7;
}

.twikoo {
  padding-bottom: 5rem;
}

.comments-title {
  margin-bottom: 20px;
}

#comments h4 {
  padding: 0;
  font-size: 1.4rem;
  font-weight: 400;
  color: #374151;
  display: flex;
  align-items: center;
  margin: 0;
}

.comments-title p {
  color: #6b7280;
  margin: 0;
  margin-top: 4px;
  letter-spacing: .025em;
  font-size: 14px;
}

#comments h4 i {
  margin-right: 6px;
}

.twikoo .tk-tag[data-v-d82ce9a0] {
  display: inline !important;
  padding: 0.2em 0.5em !important;
}

.tk-tag-green[data-v-d82ce9a0] {
  background: #1484cd;
  border-color: #1484cd;
  color: #fff;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.twikoo img {
  display: inline !important;
  margin: 0;
}

.twikoo a:hover {
  cursor: pointer;
  opacity: 0.9;
}

.tk-meta-input[data-v-619b4c52] * {
  font-size: 15px;
}

.tk-meta-input .el-input[data-v-5087bc56] .el-input-group__prepend {
  padding: 0 8px;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}

.el-input-group>.el-input__inner {
  padding: 0 5px;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}

.tk-meta-input .el-input:focus {
  border: 1px solid #bbc4bb;
}

.twikoo .el-textarea__inner {
  min-height: 110px !important;
  resize: none;
  font-family: "HYQiHei";
  padding: 5px 8px;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}

.tk-preview-container[data-v-619b4c52] {
  border: none;
  background: var(--twikoobg);
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}

.tk-content[data-v-d82ce9a0] {
  font-size: 15px;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  margin-top: 0;
  color: #000;
  margin-bottom: 10px;
}

.tk-replies-expand {
  margin-left: -20px;
}

.tk-replies-expand .tk-comment[data-v-d82ce9a0] {
  background: #F9F9F9;
  padding-left: 10px;
  padding-top: 10px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.tk-replies .tk-content[data-v-d82ce9a0] {
  font-size: 15px;
}

.tk-content p {
  margin: 5px 0
}

.twikoo .tk-extras {
  display: none !important;
}

.twikoo .tk-footer {
  display: none !important;
}

.tk-action-icon.__markdown[data-v-619b4c52] svg {
  display: none !important;
}

.tk-action-icon[data-v-8d454e16] {
  margin-top: -2px;
}

.tk-action-icon[data-v-8d454e16] svg {
  fill: #333;
}

.tk-action-link[data-v-8d454e16] {
  color: #333;
  width: 36px;
}

.tk-comment[data-v-d82ce9a0] {
  margin-bottom: 8px;
  border-bottom: 1px solid #eee;
  padding-bottom: 16px;
}

.tk-comment:hover .tk-actions[data-v-d82ce9a0] a {
  color: #333;
}

.tk-row .tk-avatar {
  display: none;
}

.twikoo .el-textarea__inner::placeholder {
  color: rgba(51, 51, 51, 0.712);
  font-size: 15px;
}

.el-input--small .el-input__inner::placeholder {
  opacity: 0;
}

.tk-time {
  opacity: 0.8;
  padding-left: 10px;
  color: #888;
  position: absolute;
  right: 50px;
}

.tk-meta {
  color: #60a8ff;
  font-size: 16px;
  font-weight: 400;
  flex: 1;
}

.tk-meta strong {
  font-weight: 400;
}

.tk-actions[data-v-d82ce9a0] {
  display: none !important;
}

.tk-row-actions-start {
  padding: 10px;
}

@media (max-width:767px) {
  .tk-meta-input .el-input+.el-input[data-v-5087bc56] {
    margin-top: 0;
  }

  .tk-meta-input .el-input[data-v-5087bc56] {
    width: 100%;
    margin-bottom: 10px;
  }

  .tk-meta-input[data-v-619b4c52] {
    margin: 0;
  }
}

@media (max-width:500px) {
  .el-button--primary {
    position: static;
  }
}

.tk-avatar.tk-has-avatar[data-v-32f45298] {
  background: none;
  border: 1px solid #eee;
  overflow: hidden;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.tk-avatar .tk-avatar-img[data-v-32f45298] {
  width: 40px;
  height: auto;
  vertical-align: bottom;
}

.tk-action-icon[data-v-8d454e16] svg {
  display: none;
}

.tk-action-link .tk-action-icon::after {
  content: '回复';
  font-size: 13px;
  display: block;
  width: 32px;
  position: absolute;
  right: 0;
  line-height: 14px;
  color: #888;
}

.tk-action-count[data-v-8d454e16] {
  display: none;
}

.tk-row.actions[data-v-619b4c52] {
  margin-left: 0;
  margin-top: 0;
}

.tk-expand {
  box-sizing: border-box;
  background: #f3f3f3;
  margin-top: 10px;
}

.tk-action-icon__markdown {
  display: none;
}

.tk-comments-title[data-v-2619081a] {
  margin-top: 2rem;
}

.tk-comment a {
  color: #0366d6;
}

.tk-replies .tk-avatar[data-v-32f45298] {
  width: 30px;
  height: 30px;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}

.tk-replies .tk-avatar .tk-avatar-img {
  height: auto !important;
  width: 100% !important;
}

.el-button--small,
.el-button--small.is-round {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}
